body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(221, 221, 221, 0.562);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_card {
  align-content: center;
  margin-top: 15px;
}

.navBar {
  background-color:#563d7c;
}

.navBarTitle {
  color: white;
  font-family:"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.sidebar {
  height: 100%;
  width: 55px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  margin-right: 15px;
  /* margin-left: 10px; */
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 55px;
  background-color:  #111;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #df038a;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.hrLine {
  height:1px;
  color:rgb(110, 104, 104);
  background-color:rgb(110, 104, 104)
}

.hrLineStaff {
  margin-bottom: 0px;
  height:1px;
  color:rgb(223, 10, 187);
  background-color:rgb(223, 10, 187);
}

.divUser {
  background-color:rgb(255, 255, 255);
  margin: 18px;
  border-radius: 4px;
}

.divTop {
  margin: 12px;
}

.messageButton {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100px;
}

.messageButton:hover{
  color: #6e6969;
  border: #6e6969 solid 1px;
  background:white;
}

.sosButton {
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(241, 7, 171);;
  border: 1px solid rgb(241, 7, 171);
  border-radius: 50%;
  height: 120%;
}

.sosButton:hover{
  color: rgb(27, 7, 7);
  border: 1px solid #ec0f0f;
  background:#f1106e;
}

.staffButton {
  background-color: white;
  color: #6e6969;
  border: 1px solid #6e6969;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: left !important;
}

.staffButton:hover{
  color: #000;
  border: #000 solid 1px;
  background:white;
}

.styleRemoveButton {
  background-color: white;
  color: black;
  border: 1px solid white;
  margin-top: -20px;
  margin-right: -50px;
  margin-left: -10px;
  margin-bottom: 5px;
  width: 100%;
  text-align: left !important;
}

.liveMapColor {
  color:rgb(62, 62, 196);
}

.titleMargin {
  margin-top: 10px;
}

.cardDesign {
  width: 18rem;
}

.cardMarginOne {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.cardMarginTwo {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.navBarMargine {
  margin-right: 10px;
}

.divTextAlign {
  text-align: right;
}

.ss {
  background-color: #ffffff;
}

